:root {
    --bg-color: lightgray;
    
}
.dark-mode {
   
    --bg-color: #161625;
}
.square{
    background-color: rgba(22,22,37,0.44);
}
body {
    background-color: var(--bg-color);
    color: var(--font-color);
}
.video-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.video-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    margin: 2%;
    border: 1px solid transparent;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}
iframe {
     border: 1px solid transparent;
    border-top-left-radius: 5% 10%;
    border-top-right-radius: 5% 10%;
    border-collapse: separate; 
}
.container {
    margin: 5%;
}
.square {
     display: flex;
     align-items: center;
     background-color: white;
     border: 1px solid transparent;
     border-collapse: separate; 
     border-bottom-right-radius: 5% 30%;
     border-bottom-left-radius: 5% 30%
}
.adText {
   flex: 1;
}
.playButton {
    flex: 1;
}
.videoAndAdd {
   margin: 15px 0px;
}

